@import "tailwindcss";
@plugin "daisyui";
@import "plyr/dist/plyr.css";

@theme {
  --animate-marquee: marquee 10s linear infinite;
  
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
}

@layer base {
  body {
    @apply selection:bg-red-600/30;
  }
}

@layer components {
  .glass-card {
    @apply bg-zinc-900/40 backdrop-blur-xl border border-white/5 rounded-3xl shadow-2xl;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  --plyr-color-main: #e50914;
}
